@font-face {
    font-family: elnath;
    src: url('./fonts/ELNATH.otf');
}

@font-face {
    font-family: MontserratLight;
    src: url('./fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: MontserratRegular;
    src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: MontserratSemiBold;
    src: url('./fonts/Montserrat-SemiBold.ttf');
}

:root {
    --title-font: elnath;
    --text-font: MontserratRegular;
    --text-font-Light: MontserratLight;
    --text-font-bold: MontserratBold;
    --text-font-semiBold: MontserratSemiBold;
    --bg-color: #e9ecff;
    --bg-negative-color: #0d0826;
    --bg-negative-color2: #111111;
}

* {
    box-sizing: border-box;
    cursor: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    background-size: cover;
    padding: 5vh 5vw;
    overflow: hidden;
    position: relative;
}

.Header {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    padding: 0 50px 0 20px;
    height: 7vh;
}

.Header__logo {
    font-size: 1.9rem;
    align-self: center;
    margin: 0;
    font-family: var(--text-font-bold);
    transition: all 0.5s ease-in-out;
}

.Header__logo img {
    margin-right: 10px;
}

.Header__logo a {
    text-decoration: none;
    color: inherit;
}

.Header__logo:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.Header__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.Header__list ul {
    display: flex;
    list-style: none;
    color: var(--bg-negative-color2);
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin: 0;
}

.Header__list ul li {
    margin: 0 30px;
}

.Header__list ul li .Header__link {
    font-family: var(--text-font);
    text-decoration: none;
    color: var(--bg-negative-color2);
    font-size: 1.05rem;
    margin: 0;
    font-weight: 500;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.Header__list ul li .Header__link:hover {
    text-shadow: 0px 0px 3px #ffffff2f;
}

.Header__list ul li .Header__link::after {
    content: "";
    top: 110%;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    background: #111111;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    width: 100%;
}

.Header__list ul li .Header__link:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.Header__link:last-child {
    margin-right: 0;
}

/* 
.button:hover,
.button:focus {
    box-shadow: inset 10em 0 0 0 var(--bg-negative-color2);
}


.button {
    font-family: var(--text-font);
    text-decoration: none;
    padding: 15px;
    font-size: 1.05rem;
    border: 1px solid var(--bg-negative-color2);
    color: var(--bg-negative-color2);
    transition: all 250ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.button:hover,
.button:focus {
    transform: scaleX(1);
    transform-origin: left;
    border-color: var(--bg-negative-color2);
    color: #fff;
} */

a.btn {
    font-family: var(--text-font);
    text-decoration: none;
    transform: translate(100px, 0px);
    color: var(--bg-negative-color2);
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1);
}

a.btn:after {
    content: "";
    position: absolute;
    transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);
    width: 0;
    right: 0%;
    bottom: 0;
    height: 100%;
    background: var(--bg-negative-color2);
    z-index: -1;
}

a.btn:hover,
a.btn.hover {
    color: #ffffff;
}

a.btn:hover:after,
a.btn.hover:after {
    width: 100%;
    right: auto;
    left: 0;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s 0.2s ease;
}

.circle {
    --size: 0.8rem;
    height: var(--size);
    width: var(--size);
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
}