@font-face {
    font-family: elnath;
    src: url('./fonts/ELNATH.otf');
}

@font-face {
    font-family: MontserratLight;
    src: url('./fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: MontserratRegular;
    src: url('./fonts/Montserrat-Regular.ttf');
}

:root {
    --title-font: elnath;
    --text-font: MontserratRegular;
    --bg-color: #e9ecff;
    --bg-negative-color: #1b1464;
}

html {
    width: 99vw;
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

p,
a,
h1 {
    text-align: justify;
    font-size: 1.1rem;
    font-family: var(--text-font);
}

h1 {
    text-transform: uppercase;
}

h1 {
    font-size: 1.4rem;
}

li {
    text-transform: uppercase;
    list-style: none;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    background: #dee2fb;
    transition: all 0.2s;
    -webkit-box-shadow: inset -1px 0px 29px 5px rgba(0, 0, 0, 0.06);
    box-shadow: inset -1px 0px 29px 5px rgba(0, 0, 0, 0.06);
}

li:hover {
    background: #eaecfb;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.253);
}


a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
}

.Header {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    height: 10vh;
    padding: 20px;
    grid-template-areas:
        "Header__logo Header__title";
    -webkit-box-shadow: 0px -8px 50px 5px rgba(158, 158, 158, 0.39);
    box-shadow: 0px -8px 50px 5px rgba(158, 158, 158, 0.39);
    margin-bottom: 1vw;
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.Header__logo {
    margin: 0 auto;
    grid-area: Header__logo;
}

.Header__title {
    color: var(--bg-negative-color);
    font-family: var(--title-font);
    text-align: center;
    margin: 10px 0 0 0;
    align-self: center;
    font-size: 3.5rem;
    grid-area: Header__title;
}

.Title__wiki {
    font-size: 1rem;
    margin-left: 0.5vw;
}

.Content {
    display: grid;
    grid-template-columns: 0.3fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 1vw;
    grid-template-areas:
        "Content__list Content__info";
    margin: 0 1vw;
}

.Content__info {
    z-index: 0;
    transform: translate(0, 15vh);
    grid-area: Content__info;
}

.Content__list ul {
    padding: 0;
}

.Content__list {
    width: 17%;
    padding: 15vh 0 0 0;
    position: fixed;
    grid-area: Content__list;
}

.info {
    padding: 20px;
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 1.5vw;
    grid-template-areas:
        "Info__articles Info_general";
}

.Info__articles {
    grid-area: Info__articles;
}

.Info__general {
    grid-area: Info_general;
    border: 2px dashed #2e4a85;
}