@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');

.Header {
    background-color: #ffffff97;
    height: 18vh;
    padding: 0 6vw;
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.511);
}

.Header__list ul li .Header__link {
    text-shadow: none;
}

.Header__list ul li .Header__link:hover {
    text-shadow: none;
}

.bg {
    background: none;
}

.ContentPages {
    width: 70%;
    margin: 1% auto;
    padding: 20px;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 40px;
    font-family: 'Overpass', sans-serif;
    color: #ffffff;
}

.portada {
    float: right;
    border-radius: 10px;
    border: 3px solid #fff;
    margin: 20px;
}

.ContentPages p,
.creators p {
    margin: 20px;
    font-weight: 580;
}

.ContentPages p:first {
    margin: 0;
}

legend h1 {
    font-family: elnath;
    font-size: 2rem;
    background: #171717;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
    border: 3px solid white;
}

fieldset {
    align-self: baseline;
    border: 3px solid #fff;
    padding: 0 30px 30px 30px;
    border-radius: 10px;
    background: #171717e0;
}

fieldset p,
fieldset ul li {
    line-height: 35px;
    font-size: 1.5vw;
}

.creators {
    padding: 20px;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 25px;
    font-family: 'Overpass', sans-serif;
    color: #ffffff;
    width: 100%;
    margin: 1% auto;
    display: flex;
    align-items: flex-start;
    place-content: flex-start;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.OGlogo {
    float: right;
    margin: 25px 0px 20px 20px;
    border: 3px solid white;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    flex-wrap: nowrap;
    color: #171717;
    font-family: MontserratRegular;
    text-transform: uppercase;
    font-weight: 600;
}

.OGlogo:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 21px 2px rgba(255, 255, 255, 0.86)
}

.OGlogo img {
    border: 3px solid white;
    border-radius: 5px;
}

.creators fieldset ul {
    font-size: 1.15rem;
    list-style: none;
    margin: 13px 0 20px 0;
}

.creators fieldset:nth-child(1) {
    width: 52%;
}

.creators fieldset:nth-child(2) {
    width: 37%;
    transform: translate(0, -15px);
}

.creators fieldset {
    height: 70vh;
    margin: 0;
}

.creators fieldset h3 {
    font-family: MontserratRegular;
    font-weight: 400;
    font-size: 1.5vw;
    margin: 20px;
    margin-top: 15px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
}

.tech a {
    text-decoration: none;
}

.techImg {
    z-index: 0;
    font-family: MontserratRegular;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #171717;
    padding: 5px;
    background-color: #ffffff;
    border: 3px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: 20px 40px;
    transition: all 0.5s;
}

.techImg:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 21px 2px rgba(255, 255, 255, 0.86)
}

.techImg img {
    z-index: 0;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.tools {
    margin: 3% auto;
}

.container {
    width: 60%;
}

.container h1 {
    font-family: elnath;
    text-align: center;
    margin: 3% auto;
    color: #ffffff;
    background-color: #171717;
    padding: 15px;
    padding-top: 25px;
    border: 3px solid white;
    border-radius: 10px;
    text-shadow: 0px 0px 24px rgba(255, 255, 255, 0.792);
}

.carousel-inner {
    border: 4px solid #fff;
    border-radius: 10px;
    height: 60vh;
    width: 40vw;
    margin: 0 auto;
}

.black {
    background-color: black;
    padding: 10px;
    border: 10px solid black;
    border-radius: 50%;
}

input[type=radio] {
    display: none;
}


.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 50vw;
    max-height: 70vh;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    margin: 1% auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}

.container h1 {
    font-family: elnath;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked~.cards #song-1 img,
#item-2:checked~.cards #song-2 img,
#item-3:checked~.cards #song-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}